/* admin.css */
.admin {
  background-color: rgb(255, 255, 255);
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  /* display: flex; Optional: Center content if needed */
  /* align-items: center; Optional: Center content vertically if needed */
  /* justify-content: center; Optional: Center content horizontally if needed */
  padding-top: 20px;
}

.admin.p{
  margin: 20px; /* Adjust the value as needed */
}
