.home-container {
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียง */
    height: 100vh; /* กำหนดความสูงให้เต็มหน้าจอ */
  }
  
.sidebar {
    width: 275px;
    background-color: #11009e;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดแนวแนวนอน */
  }
  
.rec {
    height: 50vh;    
    width: 220px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
  }
  
.inside {
    color: black;
  }
  
.progressbar {
    flex: 1; /* ขยายให้เต็มพื้นที่ที่เหลือ */
    padding: 20px;
    background-color: #f0f0f0; /* สีพื้นหลังสำหรับ progress bar */
  }
  
.email, .advisor {
    text-align: center;
  }
  
.progress-bar {
    height: 10px;
    background-color: #76c7c0;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
  }
  
.steps-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 15px;
  }
  
.step {
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #e0e0df;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .step.completed {
    background-color: #76c7c0;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  