.progress-bar-container {
  display: grid; /* Use grid for the entire progress bar container */
  row-gap: 50px; /* Adjust spacing between rows of steps */
}


.step {
  display: grid; /* Set grid layout */
  grid-template-columns: 1fr 1fr; /* Define two columns: one for the circle, and one for the step name */
  align-items: center; /* Vertically align content in both columns */
  column-gap: 15px; /* Adjust spacing between the circle and step name */
  margin-bottom: 75px; /* Space between steps */
  position: relative;
  padding-left: 10px; /* Optional: Adjust padding if necessary */
}


.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #666;
  margin-bottom: 0; /* Ensure no margin below the circle */
  position: relative; /* Make the circle position relative */
  z-index: 1; /* Ensure the circle is above the line */
  left: 50px;
}

.line {
  width: 7px;
  height: 125px; /* Height of the line */
  background-color: #e0e0e0;
  position: absolute; /* Change to absolute for better control */
  top: 30px; /* Adjust this to position the line below the circle */
  left: 72px; /* Center align the line with the circle */
}

.completed .line {
  background-color: orange; /* Color for completed line */
}

.completed .circle {
  background-color: orange; /* Color for completed circle */
  border-color: orange; /* Border color for completed circle */
  color: white; /* Text color for completed circle */
}

.step-name {
  text-align: center; /* Center the step names */
  margin-top: 5px;
  color: black;
}

.step-title {
  font-weight: bold;
}

.step-date {
  color: gray;
  font-size: 0.9em;
}

.step-description {
  margin-top: 5px;
}

.detail {
  font-size: 0.8em;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.DonutChart {
  width: 75%;
  max-width: 400px;
}
