.progress-bar-container {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}

.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px; /* Space between steps */
  padding: 10px; /* Add padding to increase the height of each step */
  position: relative; /* Position relative for absolute positioning of line */
  background-color: transparent !important;
}


.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #666;
  margin-bottom: 0; /* Ensure no margin below the circle */
  position: relative; /* Make the circle position relative */
  z-index: 1; /* Ensure the circle is above the line */
  left: 50px;
}

.line {
  width: 7px;
  height: 125px; /* Height of the line */
  background-color: #e0e0e0;
  position: absolute; /* Change to absolute for better control */
  top: 30px; /* Adjust this to position the line below the circle */
  left: 72px; /* Center align the line with the circle */
}

.completed .line {
  background-color: orange; /* Color for completed line */
}

.completed .circle {
  background-color: orange; /* Color for completed circle */
  border-color: orange; /* Border color for completed circle */
  color: white; /* Text color for completed circle */
}
